.vender-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.3s ease;
  visibility: hidden;
}

.vender-overlay.active {
  opacity: 1;
  visibility: visible;
}

.vender-content {
  background-color: white;
  width: 600px;
  height: 450px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.3s ease;
  position: relative;
}

.vender-content.active {
  opacity: 1;
}

.fecharAba {
  color: black;
  background-color: #f72929;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 10px;
  border: none;
  border-radius: 4px;
}

.fecharAba:hover {
  background-color: #ff9696;
}

.venderTitle {
  color: black;
  position: absolute;
  font-size: 40px;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.formVender {
  position: absolute;
  right: 17vh;
  top: 8vh;
}

.formVendas-group {
  margin-bottom: 20px;
  width: 250px;
}

.formVendas-group label {
  color: #000000;
  font-size: 16px;
  margin-bottom: 5px;
}

.formVendas-group input,
select {
  width: calc(100% - 20px);
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* */

.btnVender{
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  right: 9vh;
}

.btnVender:hover {
  background-color: #45a049;
}

